@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    @apply text-[70%] sm:text-[75%] md:text-[85%] 2xl:text-[100%];
    /* @apply text-[65%] sm:text-[70%] md:text-[80%] lg:text-[90%] xl:text-[100%]; */
}

body {
    @apply text-gray-700;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    /* Width for vertical scrollbar */
    height: 8px;
    /* Height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Light gray track */
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
    background: #9ca3af;
    /* Gray-500 */
    /* border-radius: 10px; */
    transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
    /* Darker gray-600 on hover */
}